<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11001</key>
	<string></string>
	<key>700700</key>
	<string></string>
	<key>101101101101</key>
	<string></string>
	<key>143010777</key>
	<string></string>
	<key>3100234567890</key>
	<string></string>
	<key>0000000</key>
	<string></string>
	<key>12</key>
	<string></string>
	<key>23423</key>
	<string></string>
	<key>1953760</key>
	<string></string>
	<key>012</key>
	<string></string>
</dict>
</plist>
